In [1]:
import pandas as pd

In [9]:
import csv

In [12]:
data=[
    ["Book ID","title","Author","Genre","Availabilty","Borrower"],
[1,"The great gatsby","F.Scott Fitzgerald","Fiction","yes","None"],
[2,"To Kill a Mockingbird","Harper Lee","Fiction","yes","None"],
[3,"Pride and Prejudice","Jane Austen","Fiction","yes","None"]
]
with open("library_data.csv","w",newline="") as file:
    writer=csv.writer(file)
    writer.writerows(data)

In [13]:
file_path="library_data.csv"
library_data=pd.read_csv(file_path)
print(library_data.head())

   Book ID                  title              Author    Genre Availabilty  \
0        1       The great gatsby  F.Scott Fitzgerald  Fiction         yes
1        2  To Kill a Mockingbird          Harper Lee  Fiction         yes
2        3    Pride and Prejudice         Jane Austen  Fiction         yes

   Borrower
0       NaN
1       NaN
2       NaN

In [16]:
def add_book(df,book_details):
  df=pd.concat([df,pd.DataFrame([book_details])],ignore_index=True)
  return df

In [1]:
def remove_book(df,book_id):
  df=df[df["Book ID"]!=book_id]
  return df

In [2]:
def update_book_details(df,book_id,borrower_name=none):
  df.loc[df["Book ID"]==book_id,column]=value
  return df

NameError: name 'none' is not defined